.container{
    margin-inline: auto;
    background-color: lightgray;
    width: 50%;
    height: 250px;
    border: dashed gray 5px;
}
h1 {
    color: #D01020;
    padding-top: 35px;
}

body {
    text-align: center;
}

#scoreboard {
    padding: 20px 0 20px 0;
    margin: 100px;
    text-align: center;
    font-weight: 900;
    border: dashed 3px coral;
}
#player-selection {
    padding-top: 70px;
}
#result {
    background-color: lightcoral;
    border: dotted red 5px;
    width: 150px;
    height: 55px;
    margin-inline: auto;
    align-content: center;
}